div.auth-template {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("/assets/images/background-image.jpg");
  background-repeat: round;

  div.auth-content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: min(800px, 60vw);
    border-radius: 8px;
    padding: 64px 72px;
    background-color: #ffffff;
    box-shadow: 0px 4px 15px rgba(143, 143, 143, 0.15),
      0px 2px 4px rgba(143, 143, 143, 0.1);

    div.auth-title {
      font-weight: bold;
      font-size: 2rem;
      margin-bottom: 16px;
    }

    div.auth-description {
      font-size: 1rem;
      color: #242323;
      margin-bottom: 32px;
    }
  }
}
