<div class="auth-login-container">
  <form [formGroup]="formGroup">
    <app-auth-template
      authTitle="app.auth.title"
      authDescription="app.auth.description"
    >
      <div class="credentials-container">
        <mat-form-field appearance="outline">
          <mat-label> {{ "app.general.email" | translate }}</mat-label>
          <input matInput formControlName="emailAddress" type="email" />
          <mat-error>{{ formGroup | retrieveError: "emailAddress" }}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label> {{ "app.general.password" | translate }}</mat-label>
          <input matInput formControlName="password" type="password" />
          <mat-error>{{ formGroup | retrieveError: "password" }}</mat-error>
        </mat-form-field>
      </div>
      <div class="buttons-container">
        <button mat-flat-button color="primary">
          {{ "app.general.logIn" | translate }}
        </button>
        <button mat-flat-button color="primary">
          {{ "app.general.register" | translate }}
        </button>
      </div>
    </app-auth-template>
  </form>
</div>
