<div class="picture-list-item-component" *ngIf="picture">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ picture.name }}</mat-card-title>
    </mat-card-header>
    <img [src]="picture.image | safeHtml" alt="User's image" />
    <mat-card-actions>
      <button
        type="button"
        mat-flat-button
        color="primary"
        *ngIf="deletePicture"
        (click)="deletePicture(picture.id)"
      >
        {{ "app.general.delete" | translate }}
      </button>
    </mat-card-actions>
  </mat-card>
</div>
