@mixin mat-form-field-mixin {
  .mat-form-field-label {
    left: 12px !important;
  }

  .mat-error {
    font-size: 0.75rem !important;
  }

  .mat-form-field-wrapper {
    padding-bottom: 0 !important;
  }

  .mat-form-field-appearance-outline .mat-form-field-subscript-wrapper {
    padding: 15px 1em !important;
  }

  .ngx-mat-file-input {
    padding-top: 1px !important;
  }
}
