<div class="auth-register-container">
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup)">
    <app-auth-template
      authTitle="app.auth.register.title"
      authDescription="app.auth.register.description"
    >
      <div class="credentials-container">
        <mat-form-field appearance="outline">
          <mat-label> {{ "app.general.email" | translate }}</mat-label>
          <input matInput formControlName="emailAddress" type="email" />
          <mat-error>{{ formGroup | retrieveError: "emailAddress" }}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label> {{ "app.general.password" | translate }}</mat-label>
          <input matInput formControlName="password" type="password" />
          <mat-error>{{ formGroup | retrieveError: "password" }}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>
            {{ "app.general.confirmPassword" | translate }}</mat-label
          >
          <input matInput formControlName="confirmPassword" type="password" />
          <mat-error>{{
            formGroup | retrieveError: "confirmPassword"
          }}</mat-error>
        </mat-form-field>
      </div>
      <div class="buttons-container">
        <button mat-flat-button color="primary" [disabled]="formGroup.invalid">
          {{ "app.general.register" | translate }}
        </button>
        <button
        mat-flat-button
        type="button"
        color="primary"
        (click)="navigateToLogin()"
      >
        {{ "app.general.loggingIn" | translate }}
      </button>
      </div>
    </app-auth-template>
  </form>
</div>
