// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$rtbox-palette: (
 50: #EAF5F1,
 100: #CBE6DD,
 200: #A8D6C6,
 300: #85C5AF,
 400: #6BB89E,
 500: #51AC8D,
 600: #4AA585,
 700: #409B7A,
 800: #379270,
 900: #27825D,
 A100: #C4FFE6,
 A200: #91FFD0,
 A400: #5EFFBA,
 A700: #45FFAF,

 contrast: (
  50: rgba(black, 0.87),
  100: rgba(black, 0.87),
  200: rgba(black, 0.87),
  300: rgba(black, 0.87),
  400: rgba(black, 0.87),
  500: white,
  600: white,
  700: white,
  800: white,
  900: white,
  A100: rgba(black, 0.87),
  A200: rgba(black, 0.87),
  A400: rgba(black, 0.87),
  A700: white,
 )
);

$rtbox-primary: mat.define-palette($rtbox-palette);
$rtbox-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$rtbox-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$rtbox-theme: mat.define-light-theme((
  color: (
    primary: $rtbox-primary,
    accent: $rtbox-accent,
    warn: $rtbox-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($rtbox-theme);
